<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.which.freefish.mapper.BmsTopicMapper">
    <resultMap id="topicVO" type="com.which.freefish.model.vo.PostVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="comments" property="comments"/>
        <result column="view" property="view"/>
        <result column="collects" property="collects"/>
        <result column="top" property="top"/>
        <result column="essence" property="essence"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="topicVO">
        SELECT
        t.id, t.title, t.user_id,
        (SELECT COUNT(*) FROM bms_comment c WHERE c.topic_id = t.id) AS comments,
        t.view, t.collects, t.top, t.essence,
        t.create_time, t.modify_time,
        u.username, u.alias, u.avatar
        FROM bms_post t
        LEFT JOIN ums_user u ON t.user_id = u.id
        <where>
            <if test="tab == 'hot'">
                AND date(t.modify_time) &lt;= date_add(curdate(), interval 1 day)
                AND date(t.modify_time) &gt;= date_sub(curdate(), interval 7 day)
            </if>
        </where>
        <if test="tab != 'hot'">
            ORDER BY t.modify_time DESC
        </if>
        <if test="tab == 'hot'">
            ORDER BY t.view DESC, t.modify_time DESC
        </if>
    </select>

    <select id="selectRecommend" resultType="com.which.freefish.model.entity.BmsPost">
        select *
        from bms_post t
        where t.id != #{id}
        order by rand(), t.view
        limit 10
    </select>

    <select id="searchByKey" resultMap="topicVO">
        SELECT t.id,
        t.title,
        t.user_id,
        t.comments,
        t.view,
        t.collects,
        t.top,
        t.essence,
        t.create_time,
        t.modify_time,
        u.username,
        u.alias,
        u.avatar
        FROM bms_post t
        LEFT JOIN ums_user u
        ON t.user_id = u.id
        <where>
            <if test="keyword!=null">
                and (t.title like concat('%', #{keyword}, '%')
                or t.content LIKE concat('%', #{keyword}, '%'))
            </if>
        </where>
        order by t.view desc, t.modify_time desc
    </select>

    <select id="searchByKey2" resultMap="topicVO">
        SELECT t.id,
               t.title,
               t.user_id,
               t.comments,
               t.view,
               t.collects,
               t.top,
               t.essence,
               t.create_time,
               t.modify_time,
               u.username,
               u.alias,
               u.avatar
        FROM bms_post t
                 LEFT JOIN ums_user u
                           ON t.user_id = u.id
        where t.id in (${ids})
        order by t.view desc, t.modify_time desc
    </select>
</mapper>
